.fondo {
    --background: transparent radial-gradient(closest-side at 50% 50%, #7FAA09 0%, #67A114 100%) 0% 0% no-repeat padding-box;
  }
.logo1{
    margin-top: 0px;
    margin-left: 45px;
     width: 85px;
     height: 85px;
     text-align: right;
     align-content: right;
     align-items: right;
   }
.menu{
    margin-top: 20px;
    margin-right: 15px;  
    width: 40px;
     height: 40px;
     color: white;
}

.menut{
    margin-top: 20px;
    margin-left: -125px;  
     height: 40px;
     text-align: left;
     font-family: helvetica;
    font-size: 27px;
     color: white;
}

.logomin{
    margin-top: 20px;
    margin-left: 25px;
     width: 60px;
     height: 50px;
   }

.titulo{
    margin-top: 35px;
    margin-left: -105px;  
     height: 40px;
     text-align: left;
     font-family: helvetica;
    font-size: 16px;
     color: white;
}