<ion-header translucent="true" class="ion-no-border" >
  <ion-toolbar class="class-name1">
   
  </ion-toolbar>
</ion-header>

<ion-content class="class-name" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col
      offset-xl="4"
      size-xl="3"
      offset-lg="3"
      size-lg="4"
      offset-md="3"
      size-md="6"
    >
      <div id="contenido"> 
        <ion-img class="logo1" src="assets/icon/logo11.png"> </ion-img>
      </div> 
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
