.fondo{
    --background: #7FAA09;
}
  
  .logo1{
   margin-top: 150px;
   margin-left: 64px;
   margin-right: 64px;
    width: auto;
    height: auto;
  }
  
  
  .class-name {
    --background: url('../../assets/icon/fondo.png') 0 0/100% 100% no-repeat
   }

   .class-name1 {
    --background: url('../../assets/icon/fondorec.png') 0 0/100% 100% no-repeat
   }