<ion-header  class="ion-no-border">
  <ion-toolbar class="fondo">
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col
      offset-xl="4"
      size-xl="3"
      offset-lg="3"
      size-lg="4"
      offset-md="3"
      size-md="6"
    >
      <div id="contenido"> 
        <div class="prueba"></div>
        <div class="titulo1">BIENVENIDO</div>
        <div >
        <div class="titulo2">Tu responsabilidad es por partes?</div>
        <div class="titulo3">Disfruta todo el </div><div class="titulo4">AMBIENTE</div>
      </div>
        <div class="titulo5">ELIGE TU PERSONAJE</div>
        <div class="prueba1"></div>
        <ion-img class="logo1" src="assets/icon/nina.png"> </ion-img>
        <ion-img class="logo2" src="assets/icon/nino.png"> </ion-img>
        
      </div> 
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
